<html>
<head>
    <title>
        my page
    </title>
    <meta charset="UTF-8">
  <meta name="description" content="africa travels">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
</head>
<link rel="stylesheet" href="/style.css">
<body>

<nav class="nav">
    
        <div class="nav-icon center">
            <div class="nav-icon1"></div>
            <div class="nav-icon2"></div>
            <div class="nav-icon2"></div>
        </div>
        <div class="nav-wrapper center" id="nav-wrapper">
    
            <div class="nav-items  center"  id="nav-items">
                <ul id="ull" class="ullist "><li><a href="/">Home</a></li><li><a href="/aboutus">about us</a></li><li><a href="/blog">blog</a></li><li>
                   <% if(!user){%>
                   <a href="/register">register</a></li><li><a href="/login">login</a></li></ul>
                   <% }else{%>
                   <a href="/logout">logout</a></li><li><a href="/profile">my profile</a></li></ul>
                   <% }%>
               </div>
        </div>
</nav>
<header>
    
</header>

<main  class="main ">
   <div class=" logodiv center"> <img class="logo" src="/image/logo.JPG"></div>
    <h2 class="center headtextlogin"> login to your account</h2>
   
    <div class="logintext ">
        <p> let your dream come true,
        explore the world in a new possibilities
        </p>
        <p> we strive to bring to you amazing and huge destinations</p>
    </div>
    <div class="destinations2 side center2">
        <% if ( errorMessage.length > 0 ) { %>
            <h3 class="flashmessage center" style="color: rgb(245, 0, 49);"> <%= errorMessage %> </h3>
          <% } %>
          <% if ( successMessage.length > 0 ) { %>
            <h3 class="flashmessage center" style="color: rgb(116, 253, 116)"> <%= successMessage %> </h3>
          <% } %>
       <div class="logindiv ">
            
            <div class="loginform">
            <form action="#" class="loginclass" method="POST">
                <label for="email">Email</label>
                <input type="text"name="email" placeholder="Email">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password">
               <button class="signinbtn btn" type="submit">sign in</button>
            
            <p>reset password</p>
          <a href="/register">
          <button class="signupbtn btn" type="button">create an account</button></a>
        </form>
        </div>

        </div> 
       
    </div>
  



</main>
<footer>
    <p class="center">designed by martins chukwuma(talk2mat2@yahoo.com)</p>
    <p class="center">all right reserved, 2020</p>
</footer>
<script type="text/javascript" src="/main.js"></script>
</body>

</html>