<html>
<head>
    <title>
        my page
    </title>
    <meta charset="UTF-8">
  <meta name="description" content="africa travels">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
	
	<link rel="stylesheet" href="style.css">
	
</head>

<body>

<nav class="nav">
    
        <div class="nav-icon center">
            <div class="nav-icon1"></div>
            <div class="nav-icon2"></div>
            <div class="nav-icon2"></div>
        </div>
        <div class="nav-wrapper center" id="nav-wrapper">
    
            <div class="nav-items  center"  id="nav-items">
                <ul id="ull" class="ullist "><li><a href="/">Home</a></li><li><a href="/aboutus">about us</a></li><li><a href="/blog">blog</a></li><li>
                   <% if(!user){%>
                   <a href="/register">register</a></li><li><a href="/login">login</a></li></ul>
                   <% }else{%>
                   <a href="/logout">logout</a></li><li><a href="/profile">my profile</a></li></ul>
                   <% }%>
               </div>
        </div>
</nav>
<header>
    
</header>

<main  class="main ">
   <div class=" logodiv center"> <img class="logo" src="/image/logo.JPG"></div>
    <h2 class="center headtext"> lets take you to your dream destination, your satisfaction is our passion</h2>
    <div class="destinations3  center">
       
        <div class="logindiv2 center">
            <section class="center signuphead">
            <h2>sign up</h2>
                <p>create an account with us today</p>
				  <% if ( errorMessage.length > 0 ) { %>
    <h3 style="color: rgb(245, 0, 49);"> <%= errorMessage %> </h3>
  <% } %>
  <% if ( successMessage.length > 0 ) { %>
    <h3 style="color: rgb(19, 241, 19)"> <%= successMessage %> </h3>
  <% } %>
				
            </section>
            <form action="/register" class="signupclass center" method="POST">
            <section style="display: flex;">
                <div class="loginform2">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" placeholder="First name">
                <label for="sex">sex</label>
                <input type="text"name="sex" placeholder="sex">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password">
                   
            </div>
            <div style="height: 25rem; width: 1px; background-color: rgb(250, 248, 248);"></div>
            <div class="loginform2">
                <label for="lastname">lastname</label>
                <input type="text"name="lastname" placeholder="lastname">
                
                <label for="email">Email</label>
                <input type="text"name="email" placeholder="Email">
                <label for="password">Password confirm</label>
                <input type="password" name="password2" placeholder="Password ">
              
          
          
        
        </div>
    </section>
<section class="signupbottom  ">
        <button class="signinbtn btn" type="submit">continue</button>
            
        <p>already have an account? login</p>
    </section>
    </form> 
    </div>
</div>
  

</main>
<footer>
    <p class="center">designed by martins chukwuma(talk2mat2@yahoo.com)</p>
    <p class="center">all right reserved, 2020</p>
</footer>
<script type="text/javascript" src="main.js"></script>
</body>

</html>